/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */
 
 .MMM-PGA{
   min-width: 300px;
 }

 
.MMM-PGA header{
  color: white;               /* Header color. Default is white. */
  text-align: left;           /* Align header text. (left, center, right) */
  /*border: solid 1px;
  border-color: red;*/
  margin-bottom: 0px;
  
}
.MMM-PGA .tournament-details{
  margin-top: 5px;
  line-height: 18px;
  /*border: solid 1px;
  border-color: yellow;*/
}

.MMM-PGA .leaderboard-separator{
  font-size: 15.5px;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px;
  border-bottom: color rgb(223, 218, 218);
  text-align: left;
  padding: 0;
  
}

.MMM-PGA .leaderboard-separator .event-status{
  float: right;
}

.MMM-PGA .leaderboard-table{
  color: white;
}
.MMM-PGA .leaderboard-table th{
  color: rgb(103,125,161);
  text-align: center;
}

.MMM-PGA .leaderboard-table .th-left-aligned{
  text-align: left;
}

.MMM-PGA .leaderboard-table .td-center-aligned{
  text-align: center;
}

.MMM-PGA .leaderboard-table .td-total-under{
  color: red;
}

.MMM-PGA .leaderboard-table .td-total-even{
  color: green;
}

.MMM-PGA .leaderboard-table .td-total-above{
  color: rgb(122, 228, 255);
}

.MMM-PGA .name {
  color: white;
 margin-right: 20px;
 /*border: solid 1px;*/          
}

.MMM-PGA .date {
  color: white;              
  margin-right: 20px;
  /*border: solid 1px;*/ 
}

.MMM-PGA .location{
  color: white;               /* Color the date. Default is white. */
  text-align: right;
  float: right;

  /*border: solid 1px;*/  
}


