/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */
 
 .MMM-PGA{
   min-width: 300px;
 }

 
.MMM-PGA header{
  color: white;               /* Header color. Default is white. */
  text-align: left;           /* Align header text. (left, center, right) */
}

.MMM-PGA .leaderboard-separator{
  font-size: 15.5px;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px;
  border-bottom: color rgb(223, 218, 218);
  text-align: left;
  padding: 0;
  
}




.MMM-PGA .name {
  color: white;
  margin-right: 20px;               /* Color the shape. Default is white. */
}

.MMM-PGA .date {
  color: white;               /* Color the date. Default is white. */
  margin-right: 20px;
}

.MMM-PGA .location{
  color: white;               /* Color the date. Default is white. */
  margin-left: 20px;
  text-align: right;
}


