/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */
 
 .MMM-PGA{
   min-width: 300px;
 }


.MMM-PGA .tournament-details{
  margin-top: 1px;
  line-height: 18px;
  font-size: 15.5px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /*padding: 5px;
  border: solid 1px;
  border-color: yellow;*/
}
.MMM-PGA .detail-line{
  color:  rgb(223, 218, 218);
  font-size: 10.5px;
  line-height: 13px;
 
}

.MMM-PGA .leaderboard-separator{
  font-size: 15.5px;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px;
  border-bottom: color rgb(223, 218, 218);
  text-align: left;
  padding: 0;

}

.MMM-PGA .leaderboard-separator .event-status{
  float: right;
}

.MMM-PGA .leaderboard-table{
  color: white;
}

.MMM-PGA .leaderboard-table th{
  text-align: center;
}

.MMM-PGA .leaderboard-table .th-left-aligned{
  text-align: left;
}

.MMM-PGA .leaderboard-table .th-color{
  color: rgb(103,125,161);
}

.MMM-PGA .leaderboard-table td{
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
}
.MMM-PGA .leaderboard-table .td-center-aligned{
  text-align: center;

}

.MMM-PGA .leaderboard-table .td-total-under{
  color: red;
}

.MMM-PGA .leaderboard-table .td-total-even{
  color: green;
}

.MMM-PGA .leaderboard-table .td-total-above{
  color: rgb(122, 228, 255);
}

.MMM-PGA .leaderboard-table .td-img{
  width: 25px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

.MMM-PGA .leaderboard-table .td-playoff{
  text-align: right;
  padding-right: 3px;
}

.MMM-PGA .tournament-table{
  max-width: 500px;
  border-collapse: collapse;
  line-height: 18px;
}

.MMM-PGA .tournament-table td{ 
  padding-right: 2px;
  margin: 2px;
  text-align: left;
  vertical-align: top;  
}


.MMM-PGA .tournament-table .border{
  border-bottom: solid 1px;
  border-bottom-color: rgb(34, 34, 34);
}

.MMM-PGA .tournament-table td.date-cell{
  padding-right: 2px;
  margin: 2px;
  width: 30%;
}

.MMM-PGA .tournament-table td.purse-cell{
  padding-right: 2px;
  margin: 2px;
  text-align: right;
  white-space: nowrap;
}

.MMM-PGA .tournament-table td.loc-cell{
  font-size: 12px;
  padding-right: 2px;
  margin: 2px;
  text-align: left;
}

.MMM-PGA .ranking-table{
  max-width: 500px;
}

.MMM-PGA .ranking-table td{
  border-bottom: solid 1px;
  border-bottom-color: rgb(34, 34, 34);
  text-align: center;
}

.MMM-PGA .ranking-table td.player-name{
  text-align: left;
  padding-left: 5px;
}

.MMM-PGA .ranking-table td.img{
  width: 25px;
  padding-right: 0px;
}

.MMM-PGA .ranking-table th{
  text-align: center;
}

.MMM-PGA .ranking-table .color-headings{
  /*color: rgb(103,125,161);*/
  color: rgb(119, 141, 190);
}

.MMM-PGA .ranking-table th.player-name{
  text-align: left;
  padding-left: 2px;
  vertical-align: bottom;
}

.MMM-PGA .ranking-table .up{
  color: green;
}

.MMM-PGA .ranking-table .down{
  color: red;
}






